<div class="login_center">
    <form action="/admin/courses/createCourses" method="POST" style="max-width:450px;margin:auto">
        <div class="input-container">
            <input type="text" name="name" id="name" class="creat-input" placeholder="Name">
        </div>
        <div class="input-container">
            <input name="icon" type="text"  id="icon" class="creat-input" placeholder="icon">
        </div>
        <a href="https://icons8.com/line-awesome" target="_blank">Icons</a>
        <div class="input-container">
            <input name="type" type="text"  id="type" class="creat-input" placeholder="type">
        </div>
        <div class="input-container">
            <input name="time" type="text"  id="time" class="creat-input" placeholder="time">
        </div>
        <input type="submit" value="Send" class="button"/>

    </form>
</div>
