<div class="login_center">
   <div class="page">
      <div class="container">
         <div class="left_1">
            <div class="login_1">Sign up</div>
         </div>
         <div class="right_1">
         <div class="tab">
            <form action="createUser" method="POST" style="max-width:450px;margin:auto" class="form">
               <div class="input-container">
                  <i class="fa fa-user icon"></i>
                  <input type="text" name="name" id="name" class="creat-input" placeholder="Name Surname">
               </div>
               <div class="input-container">
                  <i class="fa fa-envelope icon"></i>
                  <input name="email" type="text"  id="email" class="creat-input" placeholder="Email">
               </div>
               <div class="input-container">
                  <i class="fa fa-phone icon"></i>
                  <input name="phone" type="text"  id="phone" class="creat-input" placeholder="Phone">
               </div>
               <div class="input-container">
                  <i class="fa fa-key icon"></i>
                  <input name="pass" type="password"  id="pass" class="creat-input" placeholder="Password">
               </div>
               <div class="input-container">
                  <i class="fa fa-key icon"></i>
                  <input name="repass" type="password"  id="repass" class="creat-input" placeholder="Repeat Password">
               </div>
               <input type="submit" value="Send" class="button_1"/>
            </form>
            </div>
         </div>
      </div>
   </div>
</div>
   
   
      
      