<% if (msg) { %>
    <%= msg %>
<% } %>
<div class="page">
    <div class="container">
        <div class="left">
            <div class="login">Login</div>
        </div>
        <div class="right">
        <form action="admin/dashboard" method="POST" class="form">
            <div class="input-container">
                <i class="fa fa-envelope icon"></i>
                <input name="email" type="text"  id="email" class="creat-input" placeholder="Email">
            </div>
            <div class="input-container">
                <i class="fa fa-key icon"></i>
                <input name="pass" type="password"  id="pass" class="creat-input" placeholder="Password">
            </div>
            <input type="submit" value="Send" class="button" id="button"/>
        </form>
        </div>
    </div>
</div>

